<div class="hero-container">
    <app-navbar></app-navbar>
    <div class="container">
      <div class="left">
<div id="title">
    <p>Analyze, Innovate, <br> Implement</p>
</div>
<div id="whatwedo">
    <div id="line">
        <img src="/assets/images/line.png" alt="line"> 
    </div>
    <p>What I Do</p>
</div>
<div id="desc">
    <p>Bringing financial solutions to like minded individuals with a passion for innovation.</p>
</div>
<div id="button">
    <button routerLink="/prediction-form">Learn More</button> 
</div>
</div>
      <div class="Right">

<div class="robotplayground">
    <app-test></app-test>
</div>
      </div>
    </div>
</div>

