<div class="hero-container">
    <app-navbar></app-navbar>
    <div class="container">
      <div class="left">
<div id="title">
    <p>Think, Create, <br> Execute</p>
</div>
<div id="whatwedo">
    <div id="line">
        <img src="/assets/images/line.png" alt="line"> 
    </div>
    <p>What We Do</p>
</div>
<div id="desc">
    <p>Bringing community together for <br> the greater good. 
    </p>
</div>
<div id="button">
   <button>Learn More</button> 
</div>
</div>
      <div class="Right">

<div class="robotplayground">
    <app-test></app-test>
</div>
      </div>
    </div>
</div>
