<div class="project-example scrollable" id="project-example">
   <div class="top">
    <div class="videocontainer" id="oxe1">
        <!-- Video player -->
        <video id="oxe" width="520" height="440" autoplay loop muted>
            <source src="/assets/videos/0XE(1).mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>       
        <video id="oxe2" width="520" height="440" autoplay loop muted>
            <source src="/assets/videos/0XE(2).mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>         
    </div>
</div>
</div>
