<div class="navbar-container">
<nav class="navbar">
    <div class="logo">
      <img src="/assets/images/twitter.png" alt="Logo">
    </div>
    <ul class="links">
      <li><a href="#home">Home</a></li>
      <li><a href="#Projects">Projects</a></li>
      <li><a href="#Works">Works</a></li>
      <li><a href="#Contact">Contact</a></li>
    </ul>
    <div class="icon">
        <img src="/assets/images/search.jpg" alt="search">
        <div id=button> 
          <button>Hire Now</button>
        </div>
      </div>
  </nav>
</div>