<div class="navbar-container">
<nav class="navbar">
    <div class="logo">
      <img src="/assets/ape.png" alt="Logo">
    </div>
    <ul class="links">
      <li><a href="#hero">Home</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#works">Works</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <div class="icon">
        <img src="/assets/headshot.jpg" alt="BAYC">
        <div id="button"> 
          <a href="#contact" class="hire-now-button">Hire Now</a>
        </div>
      </div>
  </nav>
</div>