<div class="contact-container">
    <div class="container">
      <div class="left">
        <div class="form">
          <div class="title">Contact Us</div>
          <form class="contactform" (submit)="sendEmail($event)">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <textarea name="message" placeholder="Write your message" rows="10" required></textarea>
            <button class="button">Send</button>
            <div *ngIf="messageSent">{{ messageSent }}</div>
            <div *ngIf="messageError">{{ messageError }}</div>
          </form>
        </div>
      </div>
      <div class="right">
        <div class="map">
        <app-map-wrapper></app-map-wrapper>
        </div>
      </div>
    </div>
  </div>
  