.contact-container {
    height: 100vh;
    scroll-snap-align: center;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    overflow: hidden;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin: 10px;

}

.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: -100px;
}

.name {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20;
    border: none;
}


.contactform input, textarea {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contactform textarea {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

.button {
    background-color: pink;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    width: 465px;
}
.right {
    height: 100vh;
    width: 100vw;
    margin-left: -1000px;
    overflow: hidden;
    margin-bottom: 1000px;
}

.button:hover {
    background-color: rgb(51, 201, 64);
}
