<div class="contact-container">
    <div class="container">
      <div class="left">
        <div class="form">
          <div class="title">Contact Us</div>
          <div class="input">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <textarea placeholder="Write your message" rows="10"></textarea>
            <button class="button">Send</button>
          </div>
        </div>
      </div>
      <div class="right"></div>
    </div>
  </div>
  