<div class="newpagebg">
        <app-navbar></app-navbar>

    <section>
        <img src="/assets/newpagebg/stars.png" id="stars">
        <img src="/assets/newpagebg/moon.png" id="moon">
        <img src="/assets/newpagebg/mountains_behind.png" id="mountains_behind">
        <h2 id="text">Discord</h2>
        <a href="#" id="btn">Explore</a>
        <img src="/assets/newpagebg/mountains_front.png" id="mountains_front">
    </section>

    <div class="sec" id="sec">
        <h2>Parallax Scrolling Effects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci incidunt nisi minus, fugit commodi voluptates eius necessitatibus corrupti beatae deserunt praesentium possimus cumque cupiditate, omnis iste in nulla voluptatum nostrum!Lorem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore incidunt quam consequatur. Quo perferendis dicta inventore neque minus molestiae omnis facilis rerum sequi molestias. Libero magni mollitia fugiat numquam provident.<br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti exercitationem perferendis error odio eos earum quos, cumque alias explicabo saepe minus quod fugiat ea. Laudantium tempora doloribus veritatis error dolore.</p>
    </div>

    <script>
        let stars = document.getElementById('stars')
        let moon = document.getElementById('moon')
        let mountains_behind = document.getElementById('mountains_behind')
        let text = document.getElementById('text')
        let btn = document.getElementById('btn')
        let mountains_front = document.getElementById('mountains_front')
    </script>
</div>