<div class="custom-scrollbar">
    <div class="bg">
        <div class="nav">
        <app-navbar></app-navbar>
    </div>
        <div class="newpagebg scrollable">
            
        
        <section>
            <img src="/assets/newpagebg/stars.png" id="stars">
            <img src="/assets/newpagebg/moon.png" id="moon">
            <img src="/assets/newpagebg/mountains_behind.png" id="mountains_behind">
            <h2 id="text">Discord</h2>
            <a href="https://discord.gg/PDDATNb3D4" id="btn" target="_blank">Explore</a>
            <img src="/assets/newpagebg/mountains_front.png" id="mountains_front">
        </section>
        
        <div class="sec" id="sec">
            <h2>Upcoming Project</h2>
            <div class="container">
                <img class="ape" src="/assets/ape.png">
                <img class="ape2" src="/assets/ape2.png">
        <div class="bottom">
            <h1 id="headone">OtherSide Exchange</h1>
            <div class="desc" id="descone">
            <p> In the ever-expanding realm of the digital universe, the Otherside Exchange (0XE) emerges as a revolutionary platform, pioneering a new frontier for NFT enthusiasts and collectors. Our vision is to create a metaverse-centric ecosystem that not only recognizes but also amplifies the value of your existing NFT assets through immersive experiences and engaging missions.

                At the heart of Otherside Exchange is the principle of community – a belief that the collective power of existing projects can be harnessed to forge an experience that transcends the traditional boundaries of the digital landscape. 0XE is not just a platform; it's a hub where communities from diverse NFT projects converge, interact, and grow together.
                
            </p>
            </div>
            <h1>How It Works</h1>
            <div class="desc" id="desctwo">
                <p>
                    Holders of various NFTs can bring their digital treasures into the Otherside Exchange to unlock unique experiences tailored to the narratives and characteristics of their assets. Whether you own a virtual plot of land, a digital artwork, or a character with a storied legacy, 0XE provides a stage for your NFTs to shine in new, unexpected ways.
                
                    Our mission-based approach incentivizes participation and engagement within the platform, rewarding users with exclusive content, access to special events, and cross-project collaborations that are only possible by holding an OtherPass. By leveraging the intrinsic value and backstory of each NFT, we aim to offer a personalized journey for every user, ensuring that each experience is as unique as the NFTs they hold dear.
                    
                    The Otherside Exchange is a testament to the untapped potential of NFTs as not just collectibles but as keys to a myriad of virtual experiences. As we prepare for our launch, we are dedicated to building a versatile and inclusive platform that will serve as a nexus for digital communities—ushering in a new era where your NFTs are your passport to limitless adventures into the Metaverse.
                    
                    Stay tuned for the future of NFT engagement, where your digital assets unlock a universe of possibilities. Join us on this voyage, where your NFTs come alive.
                </p>
            </div>
            <h1>Otherpass</h1>
            <div class="desc" id="descthree">
                <p>
                    Begin your journey in the Otherside Exchange with the acquisition of an OtherPass. This exclusive pass is more than just a ticket; it's your personal gateway to a universe of missions and experiences tailored to the NFTs you own. The OtherPass acts as your digital identity within the Otherside Exchange, recognizing your unique collection and paving the way for adventures that are as distinct as your NFT portfolio.
                </p>
            </div>
            <h1>Missions</h1>
            <div class="desc" id="descfour">
                <p>
                    Upon securing your OtherPass, your first step is to check into the Exchange. Here, the true magic of the Otherside Exchange unfolds. When connected to the exchange your NFT holdings reveal a curated set of missions available to you, based on the specific projects and communities you're part of. This personalized approach ensures that every mission you embark on resonates with the narrative and essence of your NFT assets. Each mission in the Otherside Exchange is intricately designed to be project-specific, meaning it deeply engages with the lore, theme, and community of the corresponding NFT project. Whether it's exploring uncharted territories, solving intricate puzzles, or participating in community-driven events, these missions serve a dual purpose: to provide thrilling experiences and to enhance the lore and universe of the NFT community you're part of.
                </p>
            </div>
            <h1>Rewards</h1>
            <div class="desc" id="descfive">
                <p>
                    The rewards of completing these missions go beyond mere achievements. They offer an opportunity to delve deeper into the stories of your NFTs, foster stronger connections within your communities, and even unlock exclusive content and benefits that enhance the value and enjoyment of your digital collectibles.<br><br> Lets just say the Otherside Exchange holds secrets that need to be nurtured and evolved using your exsisting assets.              </p>
            </div>
            <h1>A Continuously Evolving Experience</h1>
            <div class="desc" id="descsix">
                <p>
                    The Otherside Exchange is committed to continuously expanding and evolving. New missions, collaborations, and experiences will be regularly introduced, ensuring that your journey in the Metaverse remains fresh, engaging, and aligned with the dynamic nature of the NFT space.

                    Prepare to redefine your NFT experience with Otherside Exchange – where your digital collectibles are not just assets, but keys to a world of adventure and community engagement.            </div>
        </div>
        <div class="project-example">
            <app-videoreel></app-videoreel>
        </div>
            </div>
        </div>
        
        
        </div>

    </div>
</div>