/* Set the container to enable snapping and control the scroll behavior */
.bg {
    width: 100%;
    height: 100vh; /* Adjust to your preferred viewport height */
    overflow-y: scroll; /* Enable vertical scrolling */
    scroll-snap-type: y mandatory; /* Enable snapping along the y-axis */
    scroll-behavior: smooth; /* Enable smooth scrolling */
    background-image: url('/assets/images/purt.jpg');
  }
  
  /* Style the snap sections */
  .snap-section {
    width: 100%;
    height: 100vh; /* Adjust to your preferred section height */
    scroll-snap-align: start; /* Snap the section's start to the container's start */
  }


  .bg::-webkit-scrollbar {
    width: 0.5em; /* Adjust the width as needed */
}

.bg::-webkit-scrollbar-track {
    background: transparent; /* Set the background color of the track */
}

.bg::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the color of the scrollbar thumb */
}
