.works-container {
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
}

.container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 768px) {
    width: 100%;
       
    }
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    
}

.list {
list-style: none;
display: flex;
flex-direction: column;
gap: 20px;
}

.list li {
  font-size: 75px;
  font-weight: bold;
  cursor: pointer;
  color: transparent;
  -webkit-text-stroke: 1px rgb(66, 165, 36);
  position: relative;
  width: 700px;
}

.list li::after {
        content: attr(data-prompt);
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 0px;
        white-space: nowrap;
      }

      
.list li:hover::after {
    color: rgb(66, 165, 36);
    animation: moveText 0.5s Linear both;
}

    @keyframes moveText {
        to{
          width: 100%;  
        }
    }



.right {
    flex: 1;
    overflow: hidden;
    left: -200px;
    margin-left: -200px;
    width: 400px;
}

.finadvis {
    margin-top: 200px;

}

.dataanal {
margin-bottom: 200px;
margin-right: 2000px;
margin-top: 200px;
}

.inves {
margin-bottom: -100px;
}


.caption {
    position: relative;
    width: 200px;
    height: 70px;
    padding: 20px;
    background-color: rgba(209, 207, 207, 0.575);
    border-radius: 10px;
    top: -1500px;
    left: 500px;
    overflow: visible;
}

.cap {
    position: relative;
    width: 200px;
    height: 70px;
    padding: 20px;
    background-color: rgba(209, 207, 207, 0.575);
    border-radius: 10px;
    top: -800px;
    left: 500px;
    overflow: visible; 
    margin-bottom: 10px;
}

.cap p {
    position: absolute;
    bottom: 3px
}

.capp {
    position: relative;
    width: 200px;
    height: 30px;
    padding: 20px;
    background-color: rgba(209, 207, 207, 0.575);
    border-radius: 10px;
    top: -1100px;
    left: 500px;
    overflow: visible; 
}

