<div class="who-container">
    <div class="container">
        <div class="left">
            <div class="robothello">
                <app-robothello></app-robothello>
            </div>
        </div>
        <div class="right">
           
            <div class="form">
                <div class="title">
                    <h1>Empowering Visionaries <br> to Prosper</h1>
                </div>
            <div class="whatwedo">
                <img src="/assets/images/line.png" alt="line">
                <p>Who We Are</p> 
            </div>
            <div class="desc">
                <p> Bringing financilal solutions to like minded individuals with a passion for innovation.</p>
            </div>
            <button class="button"> How It Works </button>
            </div>
           
        </div>
    </div>
</div>
